[Desktop Entry]
Name=Minitunes
Comment=Play your music collection
GenericName=Music Player
Exec=minitunes
Terminal=false
Type=Application
Icon=minitunes
Categories=Qt;Audio;Music;Player;AudioVideo;
StartupNotify=true
