[Desktop Entry]
Name=Musique
Comment=Play your music collection
GenericName=Music Player
Exec=musique
Terminal=false
Type=Application
Icon=musique
Categories=Qt;Audio;Music;Player;AudioVideo;
StartupNotify=true
