[Desktop Entry]
Name=Musique
Comment=Listen to your music collection
GenericName=Musique Music Player
Exec=musique -platform xcb
Terminal=false
Type=Application
Icon=musique
Categories=AudioVideo;Player;Qt;
StartupNotify=false
Actions=TogglePlaying;Next;Previous;StopAfterThis;Info;

[Desktop Action TogglePlaying]
Name=Play/Pause
Exec=musique --toggle-playing

[Desktop Action Next]
Name=Next
Exec=musique --next

[Desktop Action Previous]
Name=Previous
Exec=musique --previous

[Desktop Action StopAfterThis]
Name=Stop After This Track
Exec=musique --stop-after-this

[Desktop Action Info]
Name=Info
Exec=musique --info
