/* statusbar */

QStatusBar QToolBar {
    padding:0;
    spacing:0;
    margin:0;
    border:0;
}

QStatusBar::item {
    border:0;
}

/*
QStatusBar QToolBar::item{border:0 solid}

QStatusBar QToolBar {
padding:0;spacing:0;margin:0;border:0}

QStatusBar QToolBar QToolButton {padding:0;spacing:0;margin:0}
*/


QStatusBar QToolButton::menu-indicator {
    image: none;
}


Phonon--VolumeSlider[zero="true"] QSlider::handle:horizontal {
    background: qradialgradient(
        cx: .5, cy: .5,
        fx: .33, fy: .33,
        radius: .5,
        stop: 0 #f66, stop: 1 #c33);
}

AppsWidget {
    background-color: palette(window);
    border-top: 1px solid #808080;
}
