/* Ambiance */

MainWindow[style="Ambiance"] > QToolBar {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                     stop: 0 #3c3b37, stop: 1 #474641);
    border-top: 1px solid #474641;
}

MainWindow[style="Ambiance"] > QToolBar QToolButton,
MainWindow[style="Ambiance"] > QToolBar QLabel {
    color: #dfdbd2;
}

MainWindow[style="Ambiance"] > QToolBar QToolButton:disabled {
    color: #8f8c86;
}

MainWindow[style="Ambiance"] > QToolBar QToolButton:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                 stop: 0 #474641, stop: 1 #3c3b37);
                 border-radius: 5px;
    border: 1px outset #3c3b37;
}

MainWindow[style="Ambiance"] > QToolBar QToolButton:pressed,
MainWindow[style="Ambiance"] > QToolBar QToolButton:checked {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                 stop: 0 #3b3a36, stop: 1 #363531);
                 border-radius: 5px;
    border: 1px inset #292825;
}

MainWindow[style="Ambiance"] QSlider::groove:horizontal {
     border: 1px solid #808080;
     height: 8px;
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #ccc);
     border-radius: 5px;
}

MainWindow[style="Ambiance"] QSlider::sub-page:horizontal {
    border: 1px solid #808080;
    height: 8px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #6c6c6c, stop:1 #B1B1B1);
    border-radius: 5px;
}

MainWindow[style="Ambiance"] QSlider::handle:horizontal {
    border: 1px solid #5c5c5c;
    width: 14px;
    height: 16px;
    margin: -4px 0;
    border-radius: 8px;
    background: qradialgradient(
        cx: .5, cy: .5,
        fx: .33, fy: .33,
        radius: .5,
        stop: 0 #fff, stop: 1 #ccc);
}

MainWindow[style="Ambiance"] QSlider::handle:pressed {
    background: qradialgradient(
        cx: .5, cy: .5,
        fx: .33, fy: .33,
        radius: .5,
        stop: 0 #ccc, stop: 1 #9c9c9c);
}

MainWindow[style="Ambiance"] Phonon--SeekSlider QSlider::sub-page:horizontal {
    border: 1px solid #808080;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #6c6c6c);
}
