QStatusBar {
    border: 0;
}

QStatusBar QToolBar {
    padding:0;
    spacing:0;
    margin:0;
    border:0;
}

QStatusBar::item {
    border:0;
}

QStatusBar QToolButton::menu-indicator {
    image: none;
}

AppsWidget {
    background-color: palette(window);
    border-top: 1px solid #808080;
}

Breadcrumb {
    border: 0;
    background: #202020;
    padding: 8px;
}

Breadcrumb QToolButton:hover {
    border: 0;
    color: white;
}
