QToolBar {
    border: 0;
}

QToolBar QLineEdit {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 2px;
}

QToolBar QLineEdit:focus {
    border: 2px solid palette(highlight);
    background: normal;
}

QSlider[knobless="true"]::handle {
    border: 0;
    height: 0;
}

QStatusBar {
    border: 0;
}


QStatusBar QToolBar {
    border: 0;
}

QStatusBar QToolButton {
    border: 0;
    min-width: 32px;
}

QStatusBar QToolButton::menu-indicator {
    image: none;
}

AppsWidget {
    background: palette(window);
    color: palette(window-text);
    border-top: 1px solid palette(mid);
}

QListWidget[suggest="true"]::item {
    border: 0;
    padding: .25em;
    border-radius: 3px;
}

QListWidget[suggest="true"]::item:hover, QListWidget[suggest="true"]::item:focus {
    background: palette(highlight);
    color: palette(highlighted-text);
}

Breadcrumb {
    border: 0;
}


