QStatusBar {
    border: 0;
}

QStatusBar QToolBar {
    padding: 0;
    spacing: 0;
    margin: 0;
    border: 0;
}

QStatusBar::item {
    border: 0;
}

QStatusBar QToolButton::menu-indicator {
    image: none;
}

AppsWidget {
    background-color: palette(window);
    border-top: 1px solid palette(mid);
}

Breadcrumb {
    border: 0;
    background: #202020;
    padding: 8px;
}

Breadcrumb QToolButton {
    color: white;
}

Breadcrumb QToolButton:hover {
    border: 0;
}
